html,body{
    height: 100%;
    margin: 0;   
    padding: 0; 
    
    background-image: url('../img/background_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Log in page Design */
.login_page{
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
}
.login_con{
  height: 400px;
  width: 450px;
  background-color: rgba(87, 119, 73, 0.5);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #577749; 
}
.login_form{
  height: 100%;
  width: 100%;
  display:block;
}
.login_form h2{
  font-family: sans-serif;
  text-align: center;
  font-size: 38px;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}
.login_form label{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}
.login_form input{
  width: 100%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.btn {
 padding: 0.5em 2em;
 background: none;
 border: 2px solid #fff;
 font-size: 15px;
 color: #131313;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.3s;
 border-radius: 12px;
 background-color: #ecd448;
 font-weight: bolder;
 box-shadow: 0 2px 0 2px #000;
}
.btn{
  margin-right: 30px;
  margin-left: 30px;
  user-select: none;
}
.btn:before {
 content: "";
 position: absolute;
 width: 100px;
 height: 120%;
 background-color: #ff6700;
 top: 50%;
 transform: skewX(30deg) translate(-150%, -50%);
 transition: all 0.5s;
}
.btn:hover {
 background-color: #4cc9f0;
 color: #fff;
 box-shadow: 0 2px 0 2px #0d3b66;
}
.btn:hover::before {
 transform: skewX(30deg) translate(150%, -50%);
 transition-delay: 0.1s;
}
.btn:active {
 transform: scale(0.9);
}
.login_form a{
  text-decoration: none;
  user-select: none;
  color: white;
}

/* Sign up page Design */
.signup_page{
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
}
.signup_con{
  height: 380px;
  width: 350px;
  background-color: rgba(87, 119, 73, 0.5);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #577749; 
}
.signup_form{
  height: 100%;
  width: 100%;
  display:block;
}
.signup_form h2{
  font-family: sans-serif;
  text-align: center;
  font-size: 38px;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}
.signup_form label{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}
.signup_form input{
  width: 100%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.signup_form a{
  text-decoration: none;
  user-select: none;
  color: white;
}
.password-container{
  height: 180px;
  width: 550px;
  background-color: rgba(87, 119, 73, 0.5);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #577749; 
}
.password-container p{
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
}
.password-container h3{
  font-family: Arial, sans-serif;
  color: white;
}